<!DOCTYPE html>
<html>

<!-- Template (arquivo base.html, fragmento heads) -->
<head th:replace="~{base :: head}">
</head>

<body>
	<div th:replace="~{base :: topo}"></div>

	<div class="container">
		<div th:replace="~{base :: titulo_pagina('Bem-vindo!')}"></div>

		<p>
			Estes foram os últimos pedidos entregues!
			<a th:if="${pagina > 1}" th:href="@{/home} + '/' + ${pagina-1}">Voltar</a>
		</p>
		
		<div th:each="pedido : ${pedidos}" class="card mb-3">
		
			<div th:text="${pedido.nomeProduto}" 
					class="card-header alert-dark">Nome do produto</div>
			
			<div class="card-body row">
				<div class="col-12 col-sm-8 mb-3">
					<div class="row">
						<div th:if="${pedido.valorNegociado != null}" class="col-md-5">
							Valor:
							<strong>
								<!--Utilitários de formatação -->
								R$  <!-- tem o #numbers.formatCurrency, local do browser! -->
								<span th:text="${#numbers.formatDecimal(pedido.valorNegociado,3,'POINT',2,'COMMA')}">
									200,99
								</span>
							</strong>
						</div>
						<div th:if="${pedido.dataEntrega != null}" class="col-md-7">
							Entrega em 
							<strong>
								<span th:text="${#temporals.format(pedido.dataEntrega,'dd/MM/yyyy')}">
									10/02/2022
								</span>
							</strong>
						</div>
					</div>
					
					<div>Produto</div>
					<div><input th:value="${pedido.urlProduto}" class="form-control" value="http://produto.com"></div>
					
					<div>Descrição</div>
					<div>
						<textarea th:text="${pedido.descricao}" class="form-control">descrição do pedido</textarea>
					</div>
				</div>
				
				<div class="col-12 col-sm-4">
					<div>
						<img th:src="${pedido.urlImagem}" th:alt="${pedido.nomeProduto}" class="img-thumbnail">
					</div>
				</div>
			</div>
		</div>

		<p>
			 <a th:href="@{/home} + '/' + ${pagina+1}">Mais...</a>
		</p>

	</div>
</body>